@font-face {
    font-family: 'MatrixBook';
    src: url('./MatrixBook.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MatrixRegularSmallCaps1';
    src: url('./MatrixRegularSmallCaps1.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MatrixRegularSmallCaps2';
    src: url('./MatrixRegularSmallCaps2.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'StoneSerifLTItalic';
    src: url('./StoneSerifLTItalic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'StoneSerifSemibold';
    src: url('./StoneSerifSemibold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'StoneSerifSmallCapsBold';
    src: url('./StoneSerifSmallCapsBold.ttf');
    font-weight: bold;
    font-style: normal;
}