.home-upper-container {
    flex: 1;
}

.home-lower-container {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    justify-content: space-around;
}