@use '../assets/fonts/fonts.scss';

.home-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 3rem;
    font-family: 'StoneSerifSmallCapsBold'
}

h2 {
    font-size: 2rem;
    font-family: 'StoneSerifItalic'
}

.home-upper-container {
    flex: 1;
    margin-bottom: 8vh;
}

.home-form-container {
    flex: 1;
    display: flex;
    margin: 0 25%;
    flex-direction: column;
    width: 50%;
    justify-content: space-around;
}

.home-form-container-separator {
    height: 35px;
}